<form action="/main-filtro-AlunoCad" method="post">

    <input type="text" name="nome" placeholder="Nome Completo">

    <input type="text" name="idade" placeholder="idade">

    <label for="tipoSanguineo">Tipo Sanguíneo</label>
    <select name="tipoSanguineo" size="1">
        <option>A positivo (A+)
        <option>A negativo (A-)
        <option>B positivo (B+)
        <option>B negativo (B-)
        <option>AB positivo (AB+)
        <option>AB negativo (AB-)
        <option>O positivo (O+)
        <option>O negativo (O-)

    </select>

    <input type="text" name="matricula" placeholder="Matrícula">

    <input type="text" name="alergia" placeholder="Algum tipo de Alergia?">

    <input type="text" name="medicamento" placeholder="Faz uso de algum medicamento?">

    <input type="tel" name="telEmergencia" placeholder="(81) 0 0000-0000">

    <label for="turma"> Turma</label>
        <select name="turma" id="turma">

            <option value="1A">1° turma - A</option>

            <option value="1B">1° turma - B</option>

            <option value="2A">2° turma - A</option>

            <option value="2B">2° turma - B</option>

            <option value="3A">3° turma - A</option>

            <option value="3B">3° turma - B</option>

        </select>

    <input type="submit" value="Registrar">

</form>