<div>

    <form action="/logar" method="get">


        <input type="text" name="login" id="login">
        <input type="password" name="senha" id="senha">

        <input name="entrar" type="submit" value="Entrar">

    </form>

    <form action="/cad-professor" method="get">
    
        <input name="cadastrar" type="submit" value="Cadastrar">
            
    </form>

</div>