<form action="/main-filtro" method="get">

    <input type="submit" value="Principal">

</form>

<form action="/cad-professor" method="get">

    <input type="submit" value="Cadastro Professor">

</form>

<form action="/cad-aluno" method="get">

    <input type="submit" value="Cadastro Aluno">

</form>

<form action="/login" method="get">

    <input type="submit" value="Sair">

</form>

<form action="" method="get">

    <label for="nome-filtro">Nome</label>
    <input type="text" name="nome-filtro" id="nome-filtro">
    <label for="matricula-filtro">Matrícula</label>
    <input type="text" name="matricula-filtro" id="matricula-filtro">
    <label for="tel-filtro">Telefone</label>
    <input type="tel" name="tel-filtro" id="tel-filtro">
    <label for="email-filtro">Email</label>
    <input type="email" name="email-filtro" id="email-filtro">

</form>